@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap&family=Patua+One&family=Croissant+One&display=swap&family=Sarabun:wght@300&display=swap");

:root {
  --font-heading: "Saira", sans-serif;
  --font-sans: "Saira", sans-serif;
  --purple-dark: #ffffff;
  --purple: #ffffff;
  ---dark-theme-purple: #ffffff;
  --dark-bg: #000;
  --white-bg: #fff;
  --dark-text: #fff;
  --white-text: #000;
}

html {
  scroll-behavior: smooth;
  /* background-image: url(Assets/Home/collage.jpeg);
  background-size: cover;
  z-index: 1; */
}

/* .navbar.navbar-transparent {
  opacity: 0.98;
}

@media (max-width: 992px) {
  .navbar.navbar-transparent {
    background-color: rgba(0, 0, 0, 0.4);
  }
} */

body {
  padding: 0;
  margin: 0;

  /*background-color: var(--dark-bg);*/
  font-family: "Saira", sans-serif;
  background: linear-gradient(
    to right,
    #260930,
    #4a1252,
    #4e1d75,
    /* #712984,
    #872ba6,
    #9c5c94,
    #be52d1,
    #be52d1,
    #9c5c94,
    #872ba6,
    #712984, */
      #4e1d75,
    #4a1252,
    #260930
  );
  color: var(--dark-text);
}

/* h1, h2, h3, h4, h5, h6{
 color: var(--purple-dark);
} */
.light {
  background-color: var(--white-bg);
  color: var(--white-text);
}

.light .vc_text h3,
.light .vc_photo h4,
.light main h4,
.light .updates h3 {
  color: var(---dark-theme-purple);
}

.vc_text h3,
.vc_photo h4,
main h4,
.updates h3,
.page h3 {
  color: var(--purple-dark);
}

.vc_text h3,
.updates h3,
.vc_photo h4,
main h1,
.page h3 {
  font-weight: 500;
}

main {
  background: url(collage.jpeg);
  z-index: 1;
  color: white;

  text-align: center;
}

.main-img img {
  width: 95%;
  margin-top: 25px;
  object-fit: cover;
  background: #f0f0f0; /* Background color for the neumorphic effect */
  border-radius: 10px; /* Adjust the border radius as needed */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    -1px 1px 9px rgba(255, 255, 255, 0.5);
  transition: transform 0.2s, box-shadow 0.2s;
}
.main-img img:hover {
  transform: scale(1.05); /* Optional: Add a slight scaling effect on hover */
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3),
    -8px -8px 15px rgba(255, 255, 255, 0.7);
}

.main-text h4 {
  margin-top: 3vh;
}
.AIclub {
  font-size: 70px;
  color: #eee0e0;
  text-align: center;
  font-family: "Saira", cursive;
  -webkit-animation: glowing-text 1s ease-in-out infinite alternate;
  -moz-animation: glowing-text 1s ease-in-out infinite alternate;
  animation: glowing-text 1s ease-in-out infinite alternate;
}
@keyframes glowing-text {
  0% {
    text-shadow: 0 0 10px #eee0e0, 0 0 10px #eee0e0, 0 0 30px #2e00e6,
      0 0 40px #6300e6, 0 0 50px #c300e6, 0 0 60px #e200e6, 0 0 70px #e600ca;
  }

  100% {
    text-shadow: 0 0 20px #eee0e0, 0 0 10px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

main h4,
main h1 {
  margin: 0;
  font-weight: 200;
  color: white;
  font-size: 25px;
}

main h1 {
  font-family: var(--font-heading);
  font-size: 55px;
  margin-top: 20px;
}

.about_container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 10%;
  /* backdrop-filter: blur(500px); */
  /* aspect-ratio: 2; */
}

.about_container h2 {
  font-family: var(--font-heading);
  font-weight: 300;
  font-size: 40px;
  margin: 0;
}

.about_text {
  width: 50%;
}

.intro_video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 80px auto 100px;
  padding: 40px 20px;
  background-color: #0d12347a;
  border-radius: 20px;
}

.about_container_faculty {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 10%;
  padding: 10px 20px;
  /*backdrop-filter: blur(500px); 
  aspect-ratio: 2; */
  /*box-shadow: 0px 1px 2px 0px rgba(195, 0, 255, 0.7),
            1px 2px 4px 0px rgba(195, 0, 255, 0.7),
            2px 4px 8px 0px rgba(195, 0, 255, 0.7),
            2px 4px 16px 0px rgba(195, 0, 255, 0.7);*/
  /*box-shadow: -10px 10px 10px 0px rgba(0, 0, 0, 0.5);*/
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.7),
    1px 2px 4px 0px rgba(0, 0, 0, 0.7), 2px 4px 8px 0px rgba(0, 0, 0, 0.7),
    2px 4px 16px 0px rgba(0, 0, 0, 0.7);
}

.about_container_faculty h2 {
  font-family: var(--font-heading);
  font-weight: 300;
  font-size: 40px;
  margin: auto;
}

.vc_photo {
  text-align: center;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /* border: 1px solid var(--purple);
  border-radius: 6px; */
}

.vc_photo h4 {
  text-align: center;
  font-family: var(--font-heading);
  font-size: 30px;
  margin: 0;
  margin-top: 30px;
}

.vc_photo img {
  border-radius: 50%;
  /* border-radius: 2px ; */
  align-items: center;
  justify-content: center;
  width: 40%;
  /* margin-top: 5%; */

  box-shadow: -7px 7px 5px 0px rgba(0, 0, 0, 0.3);
}

#arun {
  height: 300px;
  width: 300px;
  margin-left: 15px;
}

.vc_text {
  width: 150%;
  text-align: center;
  line-height: 1.8;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid var(--purple);
  border-radius: 10px;
  cursor: pointer;
  flex-direction: column;
  padding: 10px 20px;

  box-shadow: -10px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.vc_text p {
  padding: 0 20px;
}

/* .vc_text:hover {
   box-sizing: border-box;
   border: 1px solid var(--purple);
   border-radius: 10px;
   cursor: pointer;
} */

.updates {
  margin-top: 60px;
}

.updates h3 {
  font-family: var(--font-heading);
  font-size: 40px;
  text-align: center;
}

.updates_container {
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 250px;
  display: flex;
  gap: 80px;
  /* backdrop-filter: blur(500px); */
}

.updates_desc {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  border-radius: 10px;
  border: 1px solid var(--purple-dark);
}

.updates_desc {
  text-align: center;
  justify-content: center;
}

.updates_desc:hover {
  box-sizing: border-box;
  border: 1px solid var(--purple-dark);
}

.updates_col:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.updates_col img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.register-btn {
  background-color: var(--purple);
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-family: var(--font-sans);
  font-weight: 500;
  transition: 0.3s;
  border: none;
  margin-top: 20px;
  /* margin-bottom: 20px; */
}

.register-btn:hover {
  background-color: var(--purple-dark);
}

@media (max-width: 1024px) {
  .robo_img {
    display: none;
  }

  main {
    /*         background-image: url(https:/images/.unsplash.com/photo-1523961131990-5ea7c61b2107?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80); */
    background-image: url(/public/Assets/background.jpeg);
  }

  .main-text {
    /* width: 90%; */
    /* margin: auto; */
    margin-top: 5vh;
    z-index: 1;
    padding: 2vh;
    /* position: relative; */
    top: 200px;
    /* font-size: 80px; */
  }

  /* .main-text h1 {
    font-size: 40px; 
  } */

  .about_container {
    flex-direction: column;
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }

  .about_container div {
    width: 100%;
  }

  .about_container_faculty {
    flex-direction: column;
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }

  .about_container_faculty div {
    width: 100%;
  }

  .intro_video {
    width: 90%;
    object-fit: cover;
  }

  .updates_container {
    flex-direction: column;
    align-items: center;
    width: 90%;
    text-align: center;
    backdrop-filter: blur(500px);
  }
}

.page h3 {
  font-family: var(--font-heading);
  font-size: 40px;
  text-align: center;
}

.slider-container {
  padding: 2em;
  display: flex;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.blend-image,
.card__background img {
  /* filter: brightness(250%) grayscale(100%); */
  mix-blend-mode: screen;
}

.center-image,
.card__background img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* -o-object-fit: cover; */
  /* object-fit: cover; */
}

.slick-slide {
  padding: 2em 0.5em;
}

.card-slider {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  /* background: #fff; */
  display: flex;
  padding: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 350px;
  box-shadow: 0 30px 50px -25px rgba(0, 0, 0, 0.25);
}

.card img {
  height: 350px;
  width: auto;
}

.card > * {
  transition: opacity 350ms;
}

.card--opened > * {
  opacity: 0;
}

.card__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  text-align: left;
}

.card__background::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background: linear-gradient(to top, #fff 0, rgba(255, 255, 255, 0) 70%); */
}

.card__category {
  text-transform: uppercase;
  color: #fff;
  background: #382660;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.2em 0.5em 0.25em;
}

.card__title {
  text-transform: uppercase;
  margin: 0.5em 0;
  color: #2e5f80;
}

.card__duration {
  color: #f4eeee;
}

.modal-wrapper,
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-wrapper {
  display: flex;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 150ms ease;
}

.modal {
  overflow: hidden;
  position: relative;
  margin: auto;
  width: 90vw;
  height: 90vh;
  max-width: 500px;
  background: #fff;
  border-radius: 20px;
}

.modal__scroll-area {
  height: inherit;
  overflow: auto;
  border-radius: inherit;
  position: relative;
  z-index: 1;
}

.modal__close-button {
  background: transparent;
  border: none;
  margin-bottom: auto;
  color: #663eb8;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2em;
  z-index: 2;
}

.modal__header {
  text-align: center;
  position: relative;
  display: flex;
  padding: 0.5em;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 300px;
  z-index: 1;
}

.modal__content {
  padding: 2em;
  color: #666;
  line-height: 1.5;
}

[data-modal-state="closed"] .modal-wrapper {
  pointer-events: none;
}

[data-modal-state="closed"] .overlay {
  pointer-events: none;
}

[data-modal-state="closed"] .modal {
  opacity: 0;
}

[data-modal-state="closed"] .overlay {
  opacity: 0;
}

[data-modal-state="opening"] .modal__header,
[data-modal-state="opening"] .modal__content,
[data-modal-state="opening"] .modal__close-button,
[data-modal-state="closing"] .modal__header,
[data-modal-state="closing"] .modal__content,
[data-modal-state="closing"] .modal__close-button {
  opacity: 0;
}

[data-modal-state="opening"] .overlay {
  transition: opacity 500ms ease;
}

[data-modal-state="closing"] .overlay {
  opacity: 0;
  transition: opacity 500ms ease;
}

[data-modal-state="open"] .modal__header,
[data-modal-state="open"] .modal__content {
  transition: opacity 450ms;
}

@media screen and (max-width: 500px) {
  .container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }

  .main-text h1 {
    font-size: 1.8rem;
  }

  .main-text h4 {
    font-size: 1.4rem;
  }

  .AIclub {
    font-size: 2.5rem;
  }

  .updates_col img {
    width: 80%;
    height: auto;
    object-fit: cover;
  }

  /* .main-img img {
    margin-top: 10vh;
    vertical collage needed 
  } */
}

/* Footer style  */
.outer_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 100px 0px 100px;
  padding: 40px 0px;
  gap: 40px;
  color: rgb(171, 169, 169);
  border-radius: 60px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset,
    rgba(50, 50, 93, 0.25) 0px -50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px -30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px 2px 6px 0px inset;
}

.row1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px;
}

.text {
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin: 0;
}

.mail {
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin: 0;
  text-decoration: none;
}

.brand_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 60px;
}

.brand_title {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 750;
}

.ai_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.social_links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  margin-top: 20px;
}

.socia_link {
  border: 1px solid #ffffff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s;
  background: transparent;
  text-align: center;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.socia_link a {
  text-decoration: none;
  color: #fff;
}

.socia_link:hover {
  background: #1877f2;
  box-shadow: 0 0 25px #1877f2;
}

.socia_link:hover:nth-child(2) {
  background: #e60073;
  box-shadow: 0 0 25px #e60073;
}

.socia_link:hover:nth-child(3) {
  background: #25d366;
  box-shadow: 0 0 25px #25d366;
}

.socia_link:hover:nth-child(5) {
  background: #c4302b;
  box-shadow: 0 0 25px #c4302b;
}

/* Style for the footer container */
.site-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

/* Style for the north section */
.north {
  text-align: left;
  padding: 30px;
  /* color: whitesmoke; */
}

.north h2 {
  font-family: "Saira", sans-serif;
  font-size: 25px;
  font-weight: 650;
  padding-left: 0;
  padding-top: 2px;
  margin: 1.5px;
  color: whitesmoke;
}

.one {
  display: flex;
  flex-direction: row;
  margin: 10px;
  font-size: 20px;
  align-items: center;
}

.one ion-icon {
  color: #ffe321;
}

.text {
  padding: 3px;
  font-family: "Saira", sans-serif;
  font-size: 20px;
  margin-left: 10px;
}

/* Style for the footer container */
.footer_design {
  display: flex;
  justify-content: center; /* Center the form horizontally */
  align-items: center; /* Center the form vertically */
  padding: 20px; /* Adjust the padding as needed */
  /* background-color: #f0f0f0; Change this to your desired background color */
  text-align: center;
}

/* Style for the form container */
.footer-right {
  max-width: 400px; /* Adjust the maximum width as needed */
  padding: 20px;
  /* border: 1px solid #ccc; */
  /* background-color: #fff; Change this to your desired background color */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for the form container */
}

/* Style for form elements */
.footer-right input[type="text"],
.footer-right textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.footer-right button {
  background-color: #007bff; /* Change this to your desired button color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer-right button:hover {
  background-color: #0056b3; /* Change this to the hover color you prefer */
}

/* Style for ion-icon */
ion-icon {
  font-size: 24px;
  margin-right: 10px;
}

/* Style for the separator line */
.separator {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  /* margin: 10px 0;  */
}

/* Style for the copyright text */
.row2 {
  text-align: center;
  font-size: 18px;
  font-weight: 450;
  color: #888;
}

@media screen and (max-width: 550px) {
  .outer_box {
    margin: 0 20px 20px 20px;
    padding: 40px;
    width: auto;
    margin-bottom: 97px;
  }
  .row1 {
    flex-direction: column;
    row-gap: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .row1 {
    flex-direction: column;
    gap: 20px;
  }
  .outer_box {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 550px) and (max-width: 768px) {
  .outer_box {
    margin: 0 20px 20px 20px;
    padding: 20px;
    margin-bottom: 97px;
  }
  .row1 {
    flex-direction: column;
    row-gap: 20px;
  }
  .row2 {
    font-size: 16px;
  }
}
